:root {
  --main:#444;
  --bg:#eee;
  --bgalt:#e8e8e8;
  --accent:darkgreen;
  --code:darkred;
  --revcode:#fcc;
  --border:#ddd;
}

/* Trying for AA compliance
 */
code span.at {
  color:#442;
}
code span.co {
  color:#245;
}
code span.dv {
  color:#264;
}
code span.pp {
  color:#850;
}
code span.st {
  color:#369;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main:#ddd;
    --bg:#000;
    --bgalt:#222;
    --accent:#cfc;
    --code:#fcc;
    --revcode:darkred;
    --border:#333;
  }

  code span.dt{
    color:var(--code);
  }
  code span.ot{
    color:var(--accent);
  }
  code span.st{
    color:#cff;
  }
  code span.va{
    color:#0dd;
  }
  code span.fu{
    color:#7bf;
  }
  code span.cf{
    color:#8fa;
  }
  code span.at{
    color:#ac4;
  }
  code span.op{
    color:#ccc;
  }
  code span.kw{
    color:#0d3;
  }
  code span.pp{
    color:#c80;
  }
  code span.co{
    color:#6ab;
  }
  code span.dv{
    color:#4a7;
  }

  img{
    filter:invert(1);
  }
}

body{
  margin:40px auto;
  max-width:60em;
  line-height:1.6;
  color:var(--main);
  background-color:var(--bg);
}

h1,h2,h3{
  line-height:1.2;
}

pre{
  overflow: auto;
  padding: .5em;
}
pre,.sourceCode{
  background:var(--bgalt);
}

/* Add filename before a codeblock if possible
 * https://stackoverflow.com/a/58199362
 * However, filenames cannot be selected :( */
pre::before,.sourceCode::before{
  content: attr(data-filename);
  display: block;
  background: var(--code);
  color: var(--bg);
  font-family: monospace;
}

code{
  color:var(--code);
  white-space: pre;
}

a{
  color:var(--accent);
  text-decoration: none;
}

/*links on code are also colored*/
a > code{
  color: var(--accent);
}

a:hover, a:focus{
  color:var(--bg);
  background:var(--accent);
  outline:var(--accent) solid;
}

a:hover code, a:focus code{
  color:var(--revcode);
}

.navigation{
  font-size: 0.9em;
  background:var(--bgalt);
  padding: 2%;
}

.navigation a.anchor{
  display: none;
}

#content{
  padding: 2%;
}

blockquote{
  background: var(--bgalt);
  font-style: italic;
  padding: 0 .5em 0 .5em;
  border-left: var(--accent) solid;
  quotes: "“" "”";
  margin: 0;
}

@media only screen and (min-width: 20cm) {
  .navigation{
    width: 22%;
    float: left;
  }

  #content{
    width: 70%;
    float: right;
  }

  blockquote::before{
    content:open-quote;
    color:var(--accent);
    font-size:3em;
    position:absolute;
    margin:-.5em 0 0 -1em;
  }

  blockquote{
    margin:1em 1em 1em 2em;
  }

  /* This is so that code blocks reach the right edge of the browser window, see
   * https://css-tricks.com/full-width-containers-limited-width-parents/
   * The content has 70% width of the "main column"; to get to the 50% mark (the
   * middle of the screen), we need a (5/7)*100% margin on the right; from there
   * we need 50vw to reach the right border of the window. */
  pre, div.sourceCode{
    margin-right: calc(500%/7 - 50vw);
  }
}

img{
  height:100%;
  width:100%;
  object-fit: fill;
}

figcaption{
  font-style: italic;
  text-align: center;
  font-size: 0.9em;
}

table{
  margin-left:auto;
  margin-right:auto;
}
th{
  border-bottom: solid 1px var(--border);
  padding: .25em;
}
tr:nth-child(even){
  background: var(--bgalt);
}
